table{
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif;
}

tr{
    height: 16.02vh;
    background-color: #4e494d;
}

td{
    width: 25vw;
    border: 1px solid #4e494d;
}

#inputBox{
    background-color: #ff06a0;
    text-align: right;
    width: 99%;
    font-size: 2em;
    color: #fff;
    border: 0px;
}

.digitButton{
    background-color: pink;
}

.operatorButton{
    background-color: #ff06a0;
}

.ACButton{
    background-color: rgba(204, 16, 173, 0.84);
}